body {
    margin:15px;
    padding:0;
    border:0;
    width:100%;
    background:#fff;
    font-size:90%;
}

.layer-list-column,
.map-canvas-column,
.map-console-column {
    float:left;
    padding:0 0 1em 0;
}

.layer-list-column {
    width:200px;
    height:100%;
}

.map-canvas-column {
    width:550px;
}

.map-console-column {
    width:400px;
}

.column-container {
    width:1160px;
    clear:both;
}
